@import "tailwindcss";

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(../assets/fonts/IBMPlexMono-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Ubuntu;
    src: url(../assets/fonts/Ubuntu-Regular.ttf) format('truetype');
}

@theme {
    --color-main: #12F7D6;
    --font-family-ibm: 'IBM Plex Mono', monospace;
  }

